@page "/account/logout"
@using Microsoft.AspNetCore.Identity
@using Warehouse.Domain.Data.Identity
@using Microsoft.AspNetCore.Authentication

@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Logout> Logger
@inject NavigationManager NavigationManager

<PageTitle>Logged out</PageTitle>

<header>
    <h1 class="text-success">Logged out</h1>
    <p class="text-success">You have been successfully logged out</p>
</header>

@code
{
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }

        await SignInManager.SignOutAsync();
        Logger.LogInformation("User logged out");
        NavigationManager.NavigateTo("/");
    }
}
