@inherits LayoutComponentBase

<div class="page">
    
    <main>
        <div class="top-row px-4">
            <NavMenu />
        </div>

        <article class="content container-fluid mt-5">
            @Body
        </article>
    </main>
</div>